/* @group Lista Lugares */

.lista-lugares-fiesta .flag-wrapper {
    text-indent: 0;
}

.lista-lugares-fiesta .view-filters {
    display: none;
}

.lista-lugares-fiesta .view-content ul {
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
}


.lista-lugares-fiesta  .view-content ul  li {
    border:1px solid #efefef;
    border-bottom: 5px solid #5693b2;
    width: 370px;
    margin: 0 13px 26px;
}

.lista-lugares-fiesta  .view-content ul  li div div a{
    display: block;
    width: 100%;
}

.lista-lugares-fiesta  .view-content ul  li div div a img{
    height: auto;
    width: 100%;
}


.lista-lugares-fiesta  .view-content ul li .views-field-count {
    position: absolute;
    top: 242px;
    color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    left: 6px;
}

.lista-lugares-fiesta .view-content ul li .views-field-count .flag {
    background-position: -7px -491px;
    text-indent: 30px;
}

.lista-lugares-fiesta  .view-content ul li .views-field-nothing {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #f9e82b;
    height: 270px;
    display: none;
}

.lista-lugares-fiesta  .view-content ul li:hover .views-field-nothing {
    display: none;
}

.lista-lugares-fiesta  .view-content ul li .views-field-nothing .shortDescription {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    width: 86%;
    left: 7%;
    height: 164px;
    top: 72px;
}

.lista-lugares-fiesta  .view-content ul li .views-field-nothing .lugar-info {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    top: 213px;
    left: 22px;
    padding: 9px 20px 10px 18px;
    letter-spacing: -0.3px;
}

.lista-lugares-fiesta  .view-content ul li .views-field-nothing .lugar-flag {
    position: absolute;
    top: 212px;
    left: 161px;
    width: 42px;
    height: 41px;
    text-indent: 0;
    padding:0;
}

.lista-lugares-fiesta  .view-content ul li .views-field-nothing .lugar-flag a.flag {
    min-height: 40px;
    width: 40px;
    background-position: 0px -440px;
}

.lista-lugares-fiesta  .view-content ul li .views-field-nothing .lugar-flag a.flag.unflag-action {
    background-position: 0px -360px;
}

.lista-lugares-fiesta  .view-content ul li .views-field-nothing .lugar-map {
    position: absolute;
    top: 212px;
    left: 210px;
    background-image: url(../images/sprite.png);
    background-position: 0px -546px;
    width: 42px;
    height: 41px;
    background-size: 100%;
}

.lista-lugares-fiesta  .view-content ul li .party-icon {
    background-image: url(../images/sprite-categories.png);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 276px;
}

.lista-lugares-fiesta  .view-content ul li .party-icon-Hotel {
    background-position: -80px 0;
}

.lista-lugares-fiesta  .view-content ul li .party-icon-Eventos,
.lista-lugares-fiesta  .view-content ul li .party-icon-Evento {
    background-position: -80px -40px;
}

.lista-lugares-fiesta  .view-content ul li .party-icon-Restaurante {
    background-position: -80px -80px;
}

.lista-lugares-fiesta  .view-content ul li .party-icon-2x1 {
    background-position: -80px -120px;
}

.lista-lugares-fiesta  .view-content ul li .party-icon-Bar {
    background-position: -80px -160px;
}

.lista-lugares-fiesta  .view-content ul li .views-field-title,
.lista-lugares-fiesta  .view-content ul li .views-field-field-rating {
    text-align: left;
    font-family: "Open Sans", Arial, sans-serif;
}

.lista-lugares-fiesta  .view-content ul li .views-field-title {
    margin: 20px 20px 10px;
}

.lista-lugares-fiesta  .view-content ul li .views-field-title a {
    font-weight: bold;
    font-size: 21px;
    color: #313131;
    line-height: 25px;
}
.lista-lugares-fiesta  .view-content ul li .views-field-title a:hover {
    text-decoration: none;
}

.lista-lugares-fiesta  .view-content ul li .views-field-field-rating {
    font-size: 13px;
}


.lista-lugares-fiesta  .view-content ul li .views-field-body-1{
    color: #666666;
    font-size: 11px;
    line-height: 17px;
    margin: 0 20px 20px;
}

/* @end */

/*@Content Fiesta*/
#node-606 .content .field-item h2{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -1.1px;
    margin-top: 73px;
}
#node-606 .content .field-item p{
    text-align: center;
    color: #575757;
}
#node-606 .content .field-item.even{
    width: 87%;
    margin: 0 auto;
}
#node-606 .content .field-name-field-titulo-mapa .field-items{
    text-align: center;
}
#node-606 .content .field-name-field-titulo-mapa .field-label{
    color: #ffd800;
    background: #ffd800;
    height: 24px;
    font-size: 8px;
    margin-bottom: 55px;
  }


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */